.radio-container {
  overflow: auto;
  height:67vh ;
}
.radio-container::-webkit-scrollbar {
  width: 2px;
}
.radio-container::-webkit-scrollbar-thumb {
  background-color: rgb(199, 199, 202);
  border-radius: 3px;
}
.first-container{
  border-top-left-radius:15px ;
}
.modern-radio-container {
  margin: 0;
  position: relative;
  cursor: pointer;
  user-select: none;
  display: flex;
  height: 4.5rem;
  align-items: center;
  padding-left: 0.8rem;
  border:1px solid rgb(216, 216, 216) ;
}
.selected-container {
  background-color: rgb(253, 224, 224) !important;
  border: solid 1px red;
} 
.Active-status{
  background-color:rgb(2, 59, 163);
  position:absolute ;
  right:4px ;
  top:2px;
  height:1.1rem ;
  border-radius:3px ;
  display: flex;
  padding: 12px 3px 0 3px;
  align-items: center ;
  border:1px solid black ;
}
.Active-status p{
  color:white ;
  font-size: 0.65rem;
}

.radio-outer-circle {
  width: 20px;
  height: 20px;
  border: 2px solid red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
  transition: all 0.1s linear;
}

.radio-inner-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  transition: all 0.1s linear;
}
.unselected {
  border: 2px solid #666;
}
.unselected-circle {
  width: 0;
  height: 0;
}
.helper-text {
  color: #666;
  padding-right: 8px;
}
.helper-selected-text {
  color: red;
}
