* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-image: linear-gradient(darkblue, rgb(1, 1, 56));
  background-repeat: no-repeat;
  font-size: 16px;
  overflow: hidden;
}


@media screen and (max-width: 992px) {
  body {
    min-height: fit-content;
  }
}
@media screen and (max-width: 1400px) {
  body {
    overflow: auto;
  }
}
